.background    { background: rgb(149, 175, 216);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(100, 100, 255); }
.wall          { background: rgb(100, 100, 100); }
.floater       { background: rgb(255, 50, 50); }

.actor {position: absolute};
.player {background: rgb(255, 60, 60)

.game {
	overflow: hidden;
	max-width: 600px;
	max-height: 450px;
	position: relative;
}
